# SECURITY & KEYS
DIU_PUBLIC_KEY=
FRI_PUBLIC_KEY=
PRIVATE_KEY=

# SYSTEM CONFIGURATION
ENV=
PORT=

# FRI SERVICE SETTINGS
FRI_EMAIL=
FRI_PASSWORD=
FRI_CLIENT_ID=
FRI_BASE_URL=

# MNRL SERVICE SETTINGS
MNRL_EMAIL=
MNRL_PASSWORD=
MNRL_BASE_URL=
MNRL_REACTIVATED_URL=
BankId=

# AUTHENTICATION & OAUTH
client_id=
client_secret=
env_url=
authority_url=
tenant_id=
DB_PROXY=

# AZURE STORAGE & DATABASE CONFIGURATION
AZURE_POSTGRES_DSN=
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_ACCOUNT_NAME=
AZURE_STORAGE_ACCOUNT_KEY=
AZURE_CONTAINER_FRI=
AZURE_CONTAINER_MNRL=
AZURE_CONTAINER_MATCHOFF_OUTPUT=